* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  background-image: url(../src/assets/img/mars-background.jpg);
  background-size: center;
}
